*{
    box-sizing: border-box;
}
body{
 padding: 0;
 margin: 0;
 font-family: Georgia, 'Times New Roman', Times, serif;
 color: white;
 background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='670' height='80.4' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='6.7' stroke-opacity='0.48'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 /* backdrop-filter: blur(5px); */
 scroll-behavior: smooth;
}
.back button{
    display: block;
    background-color: transparent;
    color: white;
    font-size: 2em;
    border: none;
    outline: none;
}
.header-img{
    height: 65%;
}
/* .head-header{
    height: 120vh;
} */
.head-title h1{
    font-weight: bold
}
.head-header .head-content p{
font-size: 1.1em;
}
.n-body-title{
    font-weight: bold;
}
.n-body-title-content{
    font-size: 1.1em;
}
.n-card-card{
    background-color: transparent;
}
.card-number{
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}
.card-head{
    font-size: 1.5em;
}
.card-content{
    font-size: 1.2em;
}
.a-card-number{
    color: greenyellow;
    font-weight: bold;
    font-size: 1.5em;
}
@media (max-width:576px)
{
    body{
        padding: 10px;
    }
    .head-header .head-content p{
        font-size: 0.9em;
    }
    /* .head-header{
        height: 100vh;
    } */
    .n-body-title-content{
        font-size: 0.9em;
    }
    .card-number{
        font-size: 1em;
    }
    .card-head{
        font-size: 1.3em;
    }
    .card-content{
        font-size: 1em;
        height: 42vh;
        overflow: hidden;
        overflow-y: scroll;
    }
    .a-card-number{
        font-size: 1em;
    }
    #stream-quality{
        height: 20vh;
    }
    #personal-reco{
        height: 30vh;
    }
    .header-img{
        height: 100%;
    }
}