*{
    box-sizing: border-box;
}
body{
 padding-top: 15px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: white;
 background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 /* backdrop-filter: blur(5px); */
 scroll-behavior: smooth;
}
.head-header{
    height: 120vh;
}
.head-title h1{
    font-weight: bold
}
.head-header .head-content p{
font-size: 1.1em;
}
.n-body-title{
    font-weight: bold;
}
.n-body-title-content{
    font-size: 1.1em;
}
.n-card-card{
    background-color: transparent;
}
.card-number{
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}
.card-head{
    font-size: 1.5em;
}
.card-content{
    font-size: 1.2em;
}
.a-card-number{
    color: greenyellow;
    font-weight: bold;
    font-size: 1.5em;
}
@media (max-width:576px)
{
    body{
        padding: 10px;
    }
    .head-header .head-content p{
        font-size: 0.9em;
    }
    .head-header{
        height: 100vh;
    }
    .n-body-title-content{
        font-size: 0.9em;
    }
    .card-number{
        font-size: 1em;
    }
    .card-head{
        font-size: 1.3em;
    }
    .card-content{
        font-size: 1em;
    }
    .a-card-number{
        font-size: 1em;
    }
}